<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Things-Todo</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>todo</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<!-- Social Section -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
			    <key>CFBundleTypeRole</key>
		        <string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
				    <!-- fb{your-app-id} -->
					<string>fb756786132214258</string>
					<!-- Registered Callback URLs in TwitterApp -->
					<string>flutter-twitter-login</string>
					<!-- Copied from GoogleService-Info.plist -->
					<string>com.googleusercontent.apps.1037098895285-8mhtq7cpo4kpi2nqstnorhclrudjr8au</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
		<string>756786132214258</string>
		<key>FacebookDisplayName</key>
		<string>todoApp</string>
		<key>FacebookClientToken</key>
		<string>8e81619ce8b2b6a5701eabcc376f8f96</string>
		<!-- End of the Social Section -->
		<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>ar</string>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>